<div *ngIf="loading" class="container">
    <mat-spinner></mat-spinner>
</div>
<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="update()">
    <div class="card">
        <div>
            <mat-card>
                <mat-card-content>
                    <img *ngIf="form.get('profileImage').value" src="{{imgSrc}}user/profile-image/{{form.get('profileImage').value}}">
                    <ul>
                        <li>
                            <mat-progress-bar [value]="file.progress"></mat-progress-bar>
                        </li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="warn" (click)="onClick()">
                        <mat-icon>cloud_upload</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
            <input type="file" #fileUpload id="fileUpload" name="fileUpload" accept="image/*" style="display: none;">
        </div>
        <mat-card class="container">
            <div class="container">
                <mat-form-field>
                    <input matInput placeholder="ID" formControlName="id">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Name" formControlName="name">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="User name" formControlName="username">
                </mat-form-field>
            </div>


            <button mat-flat-button color="primary" [disabled]="!form.valid" type="submit">Submit</button>
        </mat-card>
    </div>
</form>