<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="home" class="home-link">HOME</span>
    <span class="example-spacer"></span>
    <button mat-flat-button style="margin-right: 10px;" routerLink="users">User</button>
    <button mat-flat-button style="margin-right: 10px;" routerLink="create-blog-entry">Create Post</button>
    <button mat-flat-button routerLink="admin">Admin</button>
    <mat-form-field style="margin-left: 20px;" name="loginRegisterDropDown">
      <mat-select>
        <mat-option (click)="navigateTo('login')">
          Login
        </mat-option>
        <mat-option (click)="navigateTo('register')">
          Register
        </mat-option>
        <mat-option (click)="navigateTo('update-profile')">
          Update Profile
        </mat-option>
        <mat-option (click)="logout()">
          Logout
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>