.main-container {
  display: flex;
  justify-content: center;
}

.header-image {
  background-size: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

.card {
  width: 80%;
  max-width: 80%;
  margin-top: 2%;
}

.main-div {
  display: flex;
  width: 100%;
  justify-content: center;
}
