<h1 style="text-align: center;">Login page</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <mat-form-field>
            <input matInput placeholder="enter your email" formControlName="email"/>
            <mat-error *ngIf="loginForm.controls.email.errors">Email is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="enter your password" formControlName="password" type="password"/>
            <mat-error *ngIf="loginForm.controls.password.errors">Password is required</mat-error>
        </mat-form-field>
        <button mat-flat-button color="primary" [disabled]="!loginForm.valid" type="submit">Login</button>
    </div>
</form>