<h1 style="text-align: center;">All users</h1>
<mat-form-field>
    <mat-label for="">Filter by username</mat-label>
    <input #nameSearchInput matInput type="text" [(ngModel)]="paramName" placeholder="Search user by name"/>
</mat-form-field>
<div class="container">
    <div class="contain-table" *ngIf="dataSource; else spin">
        <mat-table [dataSource]="dataSource.items">
            <mat-header-row *matHeaderRowDef="displayedColumn"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumn" (click)="navaigateToProfile(row.id)"></mat-row>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
            </ng-container>


            <ng-container matColumnDef="username">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.username}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.email}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="role">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Role</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.role}}</mat-cell>
            </ng-container>
        </mat-table>

        <mat-paginator [length]="dataSource.meta.totalItems" [pageSize]="dataSource.meta.itemsPerPage"
            [pageSizeOptions]="[5,10,25,100]" (page)="pageEvent = $event; onPaginateChange($event)"
            showFirstLastButtons>
        </mat-paginator>
    </div>
    <ng-template #spin>
        <mat-spinner></mat-spinner>
    </ng-template>
</div>